.grid {
  justify-content: center;
  align-items: center;

  sx {
    width: 1;
  }

  padding-top: 50px;
}

.gridBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
  align-items: center;
}

.uploadBox {
  margin: 50px;
  padding: 50px;
  border: 1px dotted black;
}

.uploadButtonBox {
  margin: 50px;
  align-items: 'center';
  justify-content: 'center';
}