.grid {
  justify-content: center;
  align-items: center;

  sx {
    width: 1;
  }
}

.gridBox {
  margin: 50px;
  align-items: 'center';
}

.uploadBox {
  margin: 50px;
  height: 100px;
  padding-top: 200px;
}

.uploadButtonBox {
  margin: 50px;
  align-items: 'center';
  justify-content: 'center';
}